doctype html
html(lang='en')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title AATv2.0 Simple React
        script(src='/rpTest/manifest-bundle.js')
    body
        #root
        script.
          var Replay_Test = Replay_Test || {};
          Replay_Test.api = '#{apiLoc}';
          Replay_Test.expectedDomain = '#{expectedDomain}';
          Replay_Test.location = 'Funky Town';
          Replay_Test.postMessage = function () {
            return 'Going off the rails on a crazy train';
          };
          Replay_Test.poster = {
            "postMessage": function () {
              console.log(Replay_Test.postMessage());
            }
          };
        //script(src='http://localhost:9000/bundle.js')
        script(src='/rpTest/rpVend-bundle.js')
        script(src='/rpTest/replayTest-bundle.js')
        p The one bit of none JavaScript generated html
        noscript.
            #[a(href='http://lmgtfy.com/?s=d&iie=1&q=How+To+Enable+JavaScript') When you have eliminated the <strong>JavaScript</strong>, whatever remains must be an empty page.<br/>Test Failed]