doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Archival Acid Test 2.0
        link(href='/css/uikit.min.css', rel='stylesheet')
        style.
            html, body, #app { height: 100%; margin: 0 }

        //script(src='/js/av2vendor-bundle.js')
    body
        #app
        script.
              window.__ROUTE_INFO__ = !{embed};
        script(src='http://localhost:9000/bundle.js')
        //script(src='/js/av2-bundle.js')
