doctype html
html(lang='eng')
    head
        meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(charset='utf-8')
        title= title
        link(href='/css/uikit.min.css' rel='stylesheet')
    body
        nav.uk-navbar-container(uk-navbar)
            .uk-navbar-left
                ul.uk-navbar-nav
                    li.uk-active
                        a(href='/') Archival Acid Test 2.0
                    li.uk-parent
                        a(href='/redirection') Redirection
                    li
                        a(href='')
            .uk-navbar-right
                ul.uk-navbar-nav
                    li.uk-active
                        a(href='#') Redirection Chain
                    li
        .uk-section.uk-section-default
            .uk-container
                h1.uk-heading-divider.uk-text-center= message
                .uk-card.uk-card-default.uk-card-hover
                    .uk-card-body
                        .uk-card-header
                            h3.uk-card-title User Agent At Archival Time
                        .uk-card-badge.uk-label Winning!
                        .uk-card-body
                            p !{ua}
        noscript.
            #[a(href='http://lmgtfy.com/?s=d&iie=1&q=How+To+Enable+JavaScript') When you have eliminated the <strong>JavaScript</strong>, whatever remains must be an empty page.<br/>Test Failed!]
        script(src='/js/chain-bundle.js')
