doctype html
html(lang='eng')
    head
        meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(charset='utf-8')
        title= title
        link(href='/css/uikit.min.css' rel='stylesheet')
    body
        nav.uk-navbar-container(uk-navbar)
            .uk-navbar-left
                ul.uk-navbar-nav
                    li.uk-active
                        a(href='/') Archival Acid Test 2.0
                    li.uk-parent
                        a(href='/redirection') Redirection
                    li
                        a(href='')
            .uk-navbar-right
                ul.uk-navbar-nav
                    li.uk-active
                        a(href='#') Redirection With Cookie
                    li
        .uk-section.uk-section-default
            .uk-container
                h1.uk-heading-divider.uk-text-center.uk-text-break= message
                .uk-grid-match(class='uk-child-width-1-2@s', uk-grid)
                    div
                        .uk-card.uk-card-default.uk-card-hover
                            .uk-card-body
                                .uk-card-header
                                    h3.uk-card-title Cookie Check
                                .uk-card-body#checkCookie
                    div
                        .uk-card.uk-card-default.uk-card-hover
                            .uk-card-body
                                .uk-card-header
                                    h3.uk-card-title User Agent At Archival Time
                                .uk-card-body#ua
        script#json(type='application/json').
            !{json}
        script(src='/js/cookie-bundle.js')

