script(type="text/javascript" id="test3Ascript").
  document.addEventListener('DOMContentLoaded', function () {
    //Test 3a setup
    var test3Acanvas = document.createElement('canvas');
    test3Acanvas.width = "10";
    test3Acanvas.height = "10";
    test3Acanvas.id = "test3a";
    var scriptParent = document.getElementById('html5Parent');
    scriptParent.replaceChild(test3Acanvas, document.getElementById('test3Ascript'));

    //Test 3a, HTML5 Canvas Draw
    var canvas = document.getElementById('test3a');
    var context = canvas.getContext("2d");
    context.fillStyle = "#0000FF";
    context.fillRect(0, 0, 10, 10);
  });
  //Test 3b: LocalStorage
  document.addEventListener('DOMContentLoaded', function () {
    //Test3b setup
    var test3BImageRed = new Image();
    test3BImageRed.src = "red.png";
    test3BImageRed.id = "test3b";
    var scriptParent = document.getElementById('html5Parent');
    scriptParent.appendChild(test3BImageRed);

    localStorage.setItem("test3bSrc", "pixel.png");
    document.getElementById('test3b').src = localStorage.getItem('test3bSrc');

  });